.navbar {
  font-size: 18px;
  padding-bottom: 10px;
  background: rgba(22, 34, 63, 1);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(22, 34, 63, 0.49);
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar button {
  background: var(--primary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  display: none;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: var(--text-primary);
}

.main-nav li {
  text-align: center;
  margin: 35px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: var(--text-primary);
  font-size: 24px;
}

#chkToggle {
  display: none;
}

#chkToggle:checked + ul.main-nav {
  display: block;
}

@media screen and (min-width: 850px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    padding: 0px 20px;
    height: 70px;
    align-items: center;
    flex-direction: row;
  }

  .navbar button {
    margin-bottom: 0;
    display: inline-block;
  }

  #chkToggle:checked + ul.main-nav {
    display: flex;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: var(--text-secondary);
  }
}
