.navbar {
  font-size: 18px;
  padding-bottom: 10px;
  background: #101828;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: var(--text-primary);
}

.main-nav li {
  text-align: center;
  margin: 35px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: var(--text-primary);
  font-size: 24px;
}

#chkToggle {
  display: none;
}

#chkToggle:checked + ul.main-nav {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: none;
  }
}
