@import "tailwindcss";

:root{
  --primary: #0066FF;
  --secondary: #0BBF7A;
  --accent: #FF7A59;
  --background: #0F172A;
  --text-primary: #F1F5F9;
  --text-secondary: #6a7282;
}


@keyframes levitate {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animate-levitate {
  animation: levitate 3s ease-in-out infinite;
}


*{
  box-sizing: border-box;
  scroll-behavior: smooth;
 
}

body {
  background: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "poppins", sans-serif;
}

p, span, a, li, div {
  font-family: "inter", sans-serif;
}

